.hamburger-menu {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: 120px;
        height: 20px;
        background-color: black;
        position: relative;
        pointer-events: none;
        border-radius: 10px;
        transition: all 0.5s ease;

        &::before, 
        &::after {
            position: absolute;
            width: 120px;
            height: 20px;
            background-color: inherit;
            content: "";
            border-radius: 10px;
            transition: all 0.5s ease;
        }
    
        &::before {
            top: -40px;
        }
    
        &::after {
            bottom: -40px;
        }
    }

    &.clicked {
        span {
            height: 0;

            &::before {
                transform: rotate(45deg);
                top: -10px;
            }

            &::after {
                transform: rotate(-45deg);
                bottom: -10px;
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    z-index: 1;

    &::after {
        width: 100%;
        height: 100%;
        z-index: 2;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        border-bottom: 1px solid white;
        transform: translateX(-50%);
        animation: border-grow 2s ease;
    }

    @keyframes border-grow {
        0% {
            width: 1%;
        }
        100% {
            width: 100%;
        }
    }

    button {
        appearance: none !important;
        background-color: unset;
        border: unset;
        color: inherit;
        font-size: 32px;

        &:last-child {
            margin-right: 50px;
        }
    }
}

body {
    background-color: #EF78B3;
    color: white;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
}
